---
ru:
    ourGoal: Наша цель
    ourGoalSub: Сократить младенческую и детскую смертность и инвалидность в казахстане
    care: Сила заботы Fondqumai в цифрах
    goToReports: Перейти к отчетности
    news: Новости
    goToNews: Больше новостей
    ourManifest: Наш манифест

kz:
    ourGoal: Біздің мақсат
    ourGoalSub: Қазақстандағы сәбилер мен балалар өлімі мен мүгедектігін қысқарту
    care: Fondqumai қамқорлығының күші цифрлармен
    goToReports: Есептілікке өту
    news: Жаңалықтар
    goToNews: Ауқымды жаңалық
    ourManifest: Наш манифест
---

section(class="sm:py-16 h-[300px] sm:h-[400px] md:h-[600px] lg:h-[80vh]" style="background-image: url(/assets/img/banner-1.jpg)").py-8.bg-cover.bg-center

section(class="sm:py-16").py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        .flex.flex-col.items-center
            h2.text-2xl.font-medium.mb-8.text-center.font-rubik= news

            div(class="sm:grid-cols-3").mb-8.grid.gap-4
                .p-4.bg-white.rounded-xl.w-full.leading-5.space-y-2.border.border-gray-300
                    p.text-xs.text-gray-500 22.11.2022
                    p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                    p.text-sm.text-gray-500 Через Отделение патологии новорожденных Атырауского городского роддома ежегодно проходит более 270 детей. Для помощи врачам в выхаживании новорожденных при сложных...

                .p-4.bg-white.rounded-xl.w-full.leading-5.space-y-2.border.border-gray-300
                    p.text-xs.text-gray-500 22.11.2022
                    p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                    p.text-sm.text-gray-500 Через Отделение патологии новорожденных Атырауского городского роддома ежегодно проходит более 270 детей. Для помощи врачам в выхаживании новорожденных при сложных...

                .p-4.bg-white.rounded-xl.w-full.leading-5.space-y-2.border.border-gray-300
                    p.text-xs.text-gray-500 22.11.2022
                    p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                    p.text-sm.text-gray-500 Через Отделение патологии новорожденных Атырауского городского роддома ежегодно проходит более 270 детей. Для помощи врачам в выхаживании новорожденных при сложных...

            a(href=`/${lang}/news`).bg-white.p-4.rounded-xl.text-primary-tiffany.font-bold.flex.items-center.gap-2
                span= goToNews
                i.fa-solid.fa-arrow-right.text-sm

