---
ru:
    news: Новости
    
kz:
    news: Новости
---

section(class="sm:py-16").py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        h2.text-2xl.font-bold.mb-8.text-center.text-primary-tiffany.font-rubik= news
        
        div(class="sm:grid-cols-3").mb-8.grid.gap-4
            .p-4.bg-primary-white.rounded-xl.w-full.leading-5.space-y-2
                p.text-xs.text-gray-500 22.11.2022
                p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                p.text-sm.text-gray-500 Через Отделение патологии новорожденных Атырауского городского роддома ежегодно проходит более 270 детей. Для помощи врачам в выхаживании новорожденных при сложных...

            .p-4.bg-primary-white.rounded-xl.w-full.leading-5.space-y-2
                p.text-xs.text-gray-500 22.11.2022
                p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                p.text-sm.text-gray-500 Через Отделение патологии новорожденных Атырауского городского роддома ежегодно проходит более 270 детей. Для помощи врачам в выхаживании новорожденных при сложных...

            .p-4.bg-primary-white.rounded-xl.w-full.leading-5.space-y-2
                p.text-xs.text-gray-500 22.11.2022
                p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                p.text-sm.text-gray-500 Через Отделение патологии новорожденных Атырауского городского роддома ежегодно проходит более 270 детей. Для помощи врачам в выхаживании новорожденных при сложных...

            .p-4.bg-primary-white.rounded-xl.w-full.leading-5.space-y-2
                p.text-xs.text-gray-500 22.11.2022
                p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                p.text-sm.text-gray-500 Через Отделение патологии новорожденных Атырауского городского роддома ежегодно проходит более 270 детей. Для помощи врачам в выхаживании новорожденных при сложных...

            .p-4.bg-primary-white.rounded-xl.w-full.leading-5.space-y-2
                p.text-xs.text-gray-500 22.11.2022
                p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                p.text-sm.text-gray-500 Через Отделение патологии новорожденных Атырауского городского роддома ежегодно проходит более 270 детей. Для помощи врачам в выхаживании новорожденных при сложных...

            .p-4.bg-primary-white.rounded-xl.w-full.leading-5.space-y-2
                p.text-xs.text-gray-500 22.11.2022
                p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                p.text-sm.text-gray-500 Через Отделение патологии новорожденных Атырауского городского роддома ежегодно проходит более 270 детей. Для помощи врачам в выхаживании новорожденных при сложных...
