---
ru:
    news: Новости
    
kz:
    news: Новости
---

section(class="sm:py-16").py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        h2.text-2xl.font-medium.mb-8.text-center.font-rubik= news
        
        div(class="sm:grid-cols-3").mb-8.grid.gap-4
            .p-4.bg-white.rounded-xl.w-full.leading-5.space-y-2.border.border-gray-300
                p.text-xs.text-gray-500 22.11.2022
                p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                
            .p-4.bg-white.rounded-xl.w-full.leading-5.space-y-2.border.border-gray-300
                p.text-xs.text-gray-500 22.11.2022
                p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                
            .p-4.bg-white.rounded-xl.w-full.leading-5.space-y-2.border.border-gray-300
                p.text-xs.text-gray-500 22.11.2022
                p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                
            .p-4.bg-white.rounded-xl.w-full.leading-5.space-y-2.border.border-gray-300
                p.text-xs.text-gray-500 22.11.2022
                p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                
            .p-4.bg-white.rounded-xl.w-full.leading-5.space-y-2.border.border-gray-300
                p.text-xs.text-gray-500 22.11.2022
                p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау
                
            .p-4.bg-white.rounded-xl.w-full.leading-5.space-y-2.border.border-gray-300
                p.text-xs.text-gray-500 22.11.2022
                p.font-medium.font-rubik Оборудование для спасения новорожденных получил роддом атырау