---
scripts:
  - "/assets/js/search.js"

ru:
    title: Поиск по сайту

kk:
    title: Поиск по сайту
---

section(class="sm:py-16").py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        h2.text-2xl.font-medium.mb-8.text-center.font-rubik= title

        #search